body {
  font-size: 16px;
  color: #D8EEE8;
  background-color: #7FB7A9;
  font-family: Georgia sans-serif;
}
* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #19251F;
  margin-bottom: 30px;
}

p {
  padding: 10px;
  margin:0;
  font-family: Georgia sans-serif;
  font-size: 16px;
  position: relative;
  color: #D8EEE8;
}

section { 
  background-color: #5CBA8E;
  border: 2px solid black;
  width: 100%;
  height:auto;
  color: black;
  position: relative;
  overflow: auto; 
 }

.containter{
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
#chicken {
  border: 2px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family:Georgia sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: #77E12E;

}
#beef{
  border: 2px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family:Georgia sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: #E25626;
}

#sushi{
  border: 2px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family:Georgia sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: #EBEE1E;
}
#chicken-div{
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div{
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div{
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand{
  font-size: 2em;
  border: 0 0 10px 10px;
  color: black;
}

#header-nav{
  border: 0;
  background-color: #9E9E8F;
  color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}
.nav-header{
  background: #6B6B66;
}

.nav-brand {
  color: black;
  font-size: 1.5em;
}

#nav-list {
  border-color: black;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}
